<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="kr/smhrd/model/db.properties"/>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 아래는 데이터 데이트라고 생각하면 된다. dataSource. 여길 이용해서 db를 커넥션을 해야함. prope 
      일반적으로 여기로 있는 name은 고정이라고 보면 된다.  -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/smhrd/model/BoardMapper.xml"/>
  </mappers>
</configuration>